body {
    font-size: 14px;
    font-family: Courier New;
}

#title {
    font-weight: 550;
    text-align: center;
    margin: 20px;
    margin-top: 0px;
}

/* links */
#links-container {
    height: 40px;
}

#gh-logo-container {
    float: right;
}

#gh-logo {
    width:30px;
    margin: 5px;
}

#my-link-container {
    float: left;
}

#my-link {
    display: block; 
    margin: 5px;
    text-decoration: none; 
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 550;
    border-radius: 5px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(235, 235, 235);
}

#my-link:hover {
    background-color: rgb(235, 235, 235);
	border: 1px solid rgb(225, 225, 225);
}

/* main */

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#face-emoji-container {
    display: flex;
    align-items: center;
}

#video-feed {
    border: 3px solid black;
    height: 500px;
    width: 500px;
    margin-right: -3px;
    z-index: 1;
}

#emoji-div {
    border: 3px solid black;
    height: 500px;
    width: 400px;
    background-color: rgb(231, 231, 231);
    padding-left: 7px;
}

#emotion-title {
    text-align: center;
    font-weight: 550;
    font-size: 40px;
}

#main-emoji {
    text-align: center;
    font-size: 150px;
    margin-top: -10px;
}

#canvas {
    z-index: 2;
    position:absolute;
    height: 500px;
    width: 500px;
}

#small-canvas-container {
    z-index: 3;
    position:absolute;
    height: 500px;
    width: 500px;
}

#small-canvas {
    z-index: 3;
    position:absolute;
    top: 3px;
    left: 3px;
    height: 48px;
    width: 48px;
    border: 1px solid black;
    filter: grayscale(100%);
}

#bar-chart-container {
    display: flex; 
    justify-content: center;
}

#bar-chart {
    width: 900px;
}